@{
    ViewData["Title"] = "Home Page";
}
@* this is the title on top used in the layout *@

    <h2>This is Pokemon Pages, a history of my hobby of collecting Pokemon cards.</h2>
    <p>I grew up as a collector- I loved having one of everything. I went through a variety of collection interests 
        over the years, many of which faded. One of these was Pokemon cards. I had a lot of good memories collecting
        and trading with friends and siblings. Once I turned 14 or 15, I had decidedly given up collecting altogether,
        both because it was no longer cool to do and because I was trying to declutter.
    </p>
    <p>Many years went by. I came across a bulk sale of some cards that were roughly from the era during which I first collected.
        Just for fun, I decided to buy them. I was quickly nostalgic and hooked from that point on. I am mostly
        a collector for nostalgia - I collect for my future kids and to remember my childhood. I don't usually
        go for big ticket cards, especially with the hobby resurfacing and becoming super expensive. Here's the 
        most expensive card I own (pulled the day this website was due). In perfect condition, these go for upwards of $600.</p>
    <img src="pikachu.png" alt="Pikachu EX Full Art Holo" height="600"/>
    <p>Not unaware of the fact that the Pokemon franchise also is wildly known for their games and TV show,
        I've recently branched out and started to learn a little bit more about those as well (as not to be a fake fan).
        My husband is showing me the ropes on our Nintendo Switch. I'm still learning a lot by the day about the original
        card game, video games, and collecting. Despite it all, I have had the same favorite Pokemon since childhood.
        Here's a picture of my all-time favorite Pokemon - Eevee and all of the ways that she can evolve. I also am including a picture
        of my dream set of cards for them from 2013 - the full set typically goes for $200+!</p>
    <img src="eeveelutions.png" alt="Eevee and all of the Eeveelutions" height="400"/>
    <img src="3056nbcb947c1.jpeg" alt="2013 Black Star Promo Eeveelutions Collection" height="400"/>
