<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Pokemon</title>

    <link rel="icon" type="image/png" href="/188987.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PokemonPages.styles.css" asp-append-version="true"/>
</head>
<body>
<h1>
    This page explains my interest in Pokemon card collecting.
</h1>
</body>
</html>